.hero {
	letter-spacing: 0.02em;
}
.hero__inner {
	display: flex;
	justify-content: space-between;
}
.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 150px;
}
.hero__title {
	letter-spacing: 0.021em;
	font-weight: 500;
	font-size: 55px;
	line-height: 110%;
	margin-bottom: 45px;
	max-width: 550px;
}

.hero__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	text-align: right;
	max-width: 385px;
	margin-bottom: 53px;
}
.hero__link-inner {
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-bottom: 190px;
	margin-left: 73px;
	border: 1px solid transparent;
}
.hero__link-inner:hover {
	border: 1px solid $action-color;
}
.hero__link {
	padding: 22px 50px;
	text-align: center;
	background-color: $accent-color;
	color: #fff;
}
.hero__link:hover {
	transition: all 0.2s ease-in-out;
	background-color: $action-color;
}
.hero__img {
	position: relative;
	margin-top: 4px;
}
.hero__img-person {
	width: 410px;
	height: 646px;
}

.hero__img-person.hero__img-person--slide-top {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 122px;
	right: -106px;
}

.hero__img-person.hero__img-person--slide-bottom {
	position: absolute;
	width: 190px;
	height: 315px;
	bottom: 4px;
	left: -130px;
}
